<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La mejor receta de ñoquis</title>
</head>
<body>
    <h1>HOLA JOSE LUIS</h1>
    <h2>UN SUBTITULO</h2>
    <h3>OTRO SUBTITULO</h3>
    <h4>OTRO SUBTITULO</h4>
    <h5>OTRO SUBTITULO</h5>
    <h6>OTRO SUBTITULO</h6>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Tenetur pariatur porro magni officia aspernatur, recusandae alias, repellendus ipsam excepturi modi quam itaque! Odio temporibus maiores, at eligendi repellendus eius illo!
</p>
      
</body>
</html>